# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

#################################################################################################################################################
# Fortify lets you build secure software fast with an appsec platform that automates testing throughout the DevSecOps pipeline. Fortify static, #
# dynamic, interactive, and runtime security testing is available on premises or as a service. To learn more about Fortify, start a free trial  #
# or contact our sales team, visit microfocus.com/appsecurity.                                                                                  #
#                                                                                                                                               #
# Use this workflow template as a basis for integrating Fortify on Demand Static Application Security Testing (SAST) into your GitHub workflows.#
# This template demonstrates the steps to check if an application exists in your Fortify On Demand Tenant, create it if it's not exists,        #
# Prepare the code+dependencies, initiate a scan, download results once complete and import into GitHub Security Code Scanning Alerts.          #                                      
# Existing customers should review inputs and environment variables below to configure scanning against                                         #
# an existing application in your Fortify on Demand tenant. Additional information is available in the comments throughout the workflow, the    #
# documentation for the Fortify actions used, and the Fortify on Demand / ScanCentral Client product documentation. If you need additional      #
# assistance with configuration, feel free to create a help ticket in the Fortify on Demand portal.                                             #
#################################################################################################################################################

name: Fortify On Demand Application and Scan Manager

# TODO: Customize trigger events based on your DevSecOps processes and typical FoD SAST scan time
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  FOD-Application-Management:
    runs-on: ubuntu-latest
    outputs:
      FOD_Release_ID: ${{ steps.FODAppManagement.outputs.releaseID }}
      Is_FOD_APP_Exists: ${{ steps.FODAppManagement.outputs.isFODAppExists }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Checks an application existance in FOD and Creates it if not exist in the Tenant
      id: FODAppManagement
      run: |
          # Sets up your Fortify on Demand API and Github requiered variables
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ github.event.repository.name }}"
          FOD_USER_ID="${{ secrets.FOD_USER_ID }}"
          FOD_EMAIL="${{ secrets.FOD_EMAIL }}"
          
          # Prints the repository name
          echo "The Repository which triggered the workflow is: ${Repo_Name}"
          
          echo "Proceeding to check if an Application called ${Repo_Name} is present in your Fortify On Demand Tenant..."
          
          # Creates a JSON file to be used as body for the Creation of the Application Request 
          Create_FOD_Application_Body=$(cat <<EOF
          {
            "applicationName": "$Repo_Name",
            "applicationDescription": "Created by Fortify On Demand Application Manager GitHub workflow",
            "applicationType": "Web_Thick_Client",
            "releaseName": "1.0",
            "releaseDescription": null,
            "emailList": "$FOD_EMAIL",
            "ownerId": $FOD_USER_ID,
            "attributes": [
              {
                "name": "App Lead",
                "id": 8170,
                "value": "$FOD_USER_ID"
              }
           ],
           "businessCriticalityType": "High",
           "sdlcStatusType": "Production",
           "hasMicroservices": false,
           "microservices": [],
           "releaseMicroserviceName": null,
           "userGroupIds": [] 
          }
          EOF
          )
          
          # Echo JSON data to a file named body.json
          echo "$Create_FOD_Application_Body" > body.json
          
          # Sends an API Request with GET method to retrieve an application existance by name and extracts the HTTP status code from the response
          Get_FOD_Application_Request=$(curl -X GET "${FOD_API_URL}/applications?filters=applicationName%3A${Repo_Name}" \
           -H "Authorization: Bearer ${FOD_API_TOKEN}" \
           -H "Accept: application/json" \
           -w "%{http_code}" \
           -o "get-application-output.json") # Saves the results of the query to a file
           
          # Saves the GET request's status code
          Get_Request_Status_Code=$(echo $Get_FOD_Application_Request | tr -d '\n' | sed -e 's/.*Status Code://')
           
          # Checks if the status code of the request is 200 if not it will end the workflow with an error
          if [[ $Get_Request_Status_Code -eq 200 ]]; then
            echo "API Request was successful."
            
            # Prints the status code of the GET Request (Passed Request)
            echo "Status code from the request of getting FOD application: ${Get_Request_Status_Code}"
            
            # Prints the response of the GET Request as a parsed JSON (Passed Request)
            echo "API Request response saved to a JSON file. Showing the results from the query:"
            jq . get-application-output.json
            
            # Extracts the totalcount and items values from the output JSON file
            ITEMS=$(cat "get-application-output.json" | jq -r '.items')
            TOTALCOUNT=$(cat "get-application-output.json" | jq -r '.totalCount')
            
            # Checks if the API Request returns data if not it will create the application and scan it
            if [[ $ITEMS = [] ]] || [[ $TOTALCOUNT -eq 0 ]]; then
              echo "There isn't any Application called ${Repo_Name} found in your Fortify On Demand Tenant"

              # Sets boolean variable to false dynamically indicating that the FOD App not exists
              echo "::set-output name=isFODAppExists::false"
              
              echo "Proceeding to create an Application for ${Repo_Name} repo in your Fortify On Demand Tenant..."
              
              # Sends an API Request with POST Method to create an application with the Repository Name
              Create_FOD_Application_Request=$(curl -X POST "${FOD_API_URL}/applications" \
                -H "Authorization: Bearer ${FOD_API_TOKEN}" \
                -H "Accept: application/json" \
                -H "Content-Type: application/json" \
                -w "%{http_code}" \
                -o "create-application-output.json" \
                -d @body.json)
                
              # Saves the POST request's status code
              Create_Request_Status_Code=$(echo $Create_FOD_Application_Request | tr -d '\n' | sed -e 's/.*Status Code://')
           
              # Prints the status code of the POST Request
              echo "Status code from the request of creation a FOD application: ${Create_Request_Status_Code}"
              
              if [[ $Create_Request_Status_Code -eq 201 ]]; then
                echo "API Request was successful."
                
                echo "Your application ${Repo_Name} has been created in your Fortify On Demand Tenant."
                
                # Prints the status code of the POST Request (Passed Request)
                echo "Status code from the request of creation a FOD application: ${Create_Request_Status_Code}"
                
                # Prints the response of the POST Request as a parsed JSON (Passed Request)
                echo "API Request response saved to a JSON file. Showing the results from the query:"
                jq . create-application-output.json
                
                # Extracts the releaseid value from the output JSON file of the Application Creation Request
                FOD_Release_ID=$(cat "create-application-output.json" | jq -r '.releaseId')
                echo "::set-output name=releaseID::$FOD_Release_ID" # Saves the releaseid as the output of the current job to be used in next jobs
              else
                echo "API Request has failed. FOD API server is down or your Token has expired or please check the POST Request"
                # Prints the status code of the POST Request (Failed Request)
                echo "Status code from the request of creation a FOD application: ${Create_Request_Status_Code}"
                
                # Prints the response of the POST Request as a parsed JSON (Failed Request)
                echo "API Request response saved to a JSON file, please check the errors and fix the issue if needed:"
                jq . create-application-output.json
                
                exit 1  # Exit with a non-zero status code to indicate failure
              fi
            else
              echo "API Request was successful."
              
              echo "${Repo_Name} is present in your Fortify On Demand Tenant as an Application."

              # Sets boolean variable to true dynamically indicating that the FOD App not exists
              echo "::set-output name=isFODAppExists::true"
              
              # Extracts the releaseid value from the output JSON file of the Application Creation Request
              FOD_Release_ID=$(cat "create-application-output.json" | jq -r '.releaseId')
              
              # Saves the releaseid as the output of the current job for next job
              echo "::set-output name=releaseID::$FOD_Release_ID"
            fi
          else
            echo "API Request has failed. FOD API server is down or your Token has expired."
            
            # Prints the status code of the GET Request (Failed Request)
            echo "Status code from the request of getting FOD application: ${Get_Request_Status_Code}"
            
            # Prints the response of the GET Request as a parsed JSON (Failed Request)
            echo "API Request response saved to a JSON file, please check the errors and fix the issue if needed:"
            jq . get-application-output.json
            
            exit 1  # Exit with a non-zero status code to indicate failure
          fi

  FOD-SAST-Scan-Options:
    needs: FOD-Application-Management
    runs-on: ubuntu-latest                                           
         
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name:  Setups FOD Static Scan Options for the new Application created
      id: FODAppSastScanOptions
      run: |
          # Sets up your Fortify on Demand API and Github requiered variables
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ github.event.repository.name }}"
          FOD_USER_ID="${{ secrets.FOD_USER_ID }}"
          FOD_EMAIL="${{ secrets.FOD_EMAIL }}"
          FOD_RELEASE_ID="${{ needs.FODAppManagement.outputs.releaseID }}"
          
          echo "Proceeding to set up the sast scan options for your ${Repo_Name} Application in Fortify On Demand..."

          # Creates a JSON file to be used as body for the Set Up of the SAST Scan options 
          Save_FOD_Application_Static_Scan_Options_Body=$(cat <<-EOF
          {
            "assessmentTypeId": 274,
            "entitlementId": 12880,
            "entitlementFrequencyType": 2,
            "releaseId": $FOD_Release_ID,
            "technologyStackId": 22,
            "technologyStack": "Go",
            "languageLevelId": null,
            "languageLevel": null,
            "performOpenSourceAnalysis": false,
            "auditPreferenceType": 2,
            "includeThirdPartyLibraries": false
          }
          EOF
          )

          # Echo JSON data to a file named options.json
          echo "$Save_FOD_Application_Static_Scan_Options_Body" > options.json

          echo "${FOD_API_URL} and ${FOD_RELEASE_ID}"

          # Sends an API Request with PUT Method to set up the sast scan options of the recently created application
          Save_FOD_Application_Static_Scan_Options_Request=$(curl -X PUT "${FOD_API_URL}/releases/${FOD_RELEASE_ID}/static-scans/scan-setup" \
            -H "Authorization: Bearer ${FOD_API_TOKEN}" \
            -H "Accept: application/json" \
            -H "Content-Type: application/json" \
            -w "%{http_code}" \
            -o "save-sast-scan-options-output.json" \
            -d @options.json)
                
          # Saves the PUT request's status code
          Static_Scan_Options_Request_Status_Code=$(echo $Save_FOD_Application_Static_Scan_Options_Request | tr -d '\n' | sed -e 's/.*Status Code://')

          # Checks if the status code of the request is 200 if not it will end the workflow with an error
          if [[ $Static_Scan_Options_Request_Status_Code -eq 200 ]]; then
            echo "API Request was successful."
            
            # Prints the status code of the PUT Request (Passed Request)
            echo "Status code from the request of saving FOD application sast scan options: ${Static_Scan_Options_Request_Status_Code}"
            
            # Prints the response of the Put Request as a parsed JSON (Passed Request)
            echo "API Request response saved to a JSON file. Showing the results from the query:"
            jq . save-sast-scan-options-output.json
          
            echo "SAST scan options from ${Repo_Name} application has been saved."
          else
            echo "API Request has failed. FOD API server is down or your Token has expired or please check the PUT Request"
            
            # Prints the status code of the PUT Request (Failed Request)
            echo "Status code from the request of saving FOD application sast scan options: ${Static_Scan_Options_Request_Status_Code}"
                
            # Prints the response of the PUT Request as a parsed JSON (Failed Request)
            echo "API Request response saved to a JSON file, please check the errors and fix the issue if needed:"
            jq . save-sast-scan-options-output.json
                
            exit 1  # Exit with a non-zero status code to indicate failure
          fi 
