name: Fortify On Demand API Request

on:
  push:
    branches:
      - main

jobs:
  get-fod-applications:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Retrieve Fortify On Demand Application
      run: |
          # Set your Fortify on Demand API details
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ steps.repo_name.outputs.name }}"

          #Prints the repositoryname
          echo "Repository Name: ${Repo_Name}
          
          # Replace the following curl command with the actual Fortify on Demand API endpoint
          curl -X GET "${FOD_API_URL}/applications?filters=applicationName%3A${Repo_Name}" \
            -H "Authorization: Bearer ${FOD_API_TOKEN}" \
            -H "Accept: application/json" \
            -o "application-output.json"  # Save the response to a file, adjust as needed
          
          # Prints the response (optional)
          echo "API response saved to a JSON file. Showing all results from the query:"
          cat application-output.json
