name: Fortify On Demand API Request

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-fod-application-by-name:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Retrieve Fortify On Demand Application by Name
      run: |
          # Sets up your Fortify on Demand API and Github requiered variables
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ github.event.repository.name }}"

          #Prints the repository name
          echo "Repository Name: ${Repo_Name}"
          
          # Checks if an application exisits in Fortify On Demand Tenant
          curl -X GET "${FOD_API_URL}/applications?filters=applicationName%3A${Repo_Name}" \
           -H "Authorization: Bearer ${FOD_API_TOKEN}" \
           -H "Accept: application/json" \
           -o "application-output.json" # Save the response to a file, adjust as needed
          
          # Parses and Prints the response
          echo "API response saved to a JSON file. Showing all results from the query:"
          jq . application-output.json

    - name: Check FOD API Response
      run: |
          # Extract the HTTP status code from the response
          HTTP_STATUS=$(tail -c 3 application-output.json)

          # Prints the status code
          echo "HTTP_STATUS"

          # Check if the status code is 200
          if [ "$HTTP_STATUS" == "200" ]; then
            echo "API request was successful."
          else
            echo "API request failed with status code: $HTTP_STATUS"
            exit 1  # Exit with a non-zero status code to indicate failure
          fi
          
         
