name: Fortify On Demand API Request

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-fod-application-by-name:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Retrieve Fortify On Demand Application by Name
      run: |
          # Sets up your Fortify on Demand API and Github requiered variables
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ github.event.repository.name }}"

          #Prints the repository name
          echo "Repository Name: ${Repo_Name}"
          
          # Checks if an application exisits in Fortify On Demand Tenant and extracts the HTTP status code from the response 
          HTTP_STATUS=$(curl -X GET "${FOD_API_URL}/applications?filters=applicationName%3A${Repo_Name})" \
           -H "Authorization: Bearer ${FOD_API_TOKEN}" \
           -H "Accept: application/json" \
           -w "%{http_code}" \
           -o "application-output.json" # Save the results of the query to a file
          echo ""
          
          # Parses and Prints the response
          echo "API response saved to a JSON file. Showing all results from the query:"
          jq . application-output.json

          echo "::set-output name=http_status::$HTTP_STATUS"

    - name: Check API Response
      run: |
          # Get the HTTP status code from the previous step's output
          HTTP_STATUS="${{ steps.api_request.outputs.http_status }}"

          # Print the HTTP status code
          echo "HTTP Status Code: $HTTP_STATUS"
         
