name: Fortify On Demand API Request

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-fod-application-by-name:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Retrieve Fortify On Demand Application by Name
      run: |
          # Sets up your Fortify on Demand API and Github requiered variables
          FOD_API_URL="${{ secrets.FOD_API_URL }}"
          FOD_API_TOKEN="${{ secrets.FOD_BEARER_TOKEN }}"
          Repo_Name="${{ github.event.repository.name }}"

          #Prints the repository name
          echo "Repository Name: ${Repo_Name}"
          
          # Checks if an application exisits in Fortify On Demand Tenant and extracts the HTTP status code from the response 
          Get_FOD_Application_Request=$(curl -X GET "${FOD_API_URL}/applications?filters=applicationName%3A${Repo_Name}" \
           -H "Authorization: Bearer ${FOD_API_TOKEN}" \
           -H "Accept: application/json" \
           -w "%{http_code}" \
           -o "application-output.json") # Save the results of the query to a file

           Request_Status_Code=$(echo $Get_FOD_Application_Request | tr -d '\n' | sed -e 's/.*Status Code://')
           
           # Prints the status code
           echo "Request satus code: ${Request_Status_Code}"
          
          # Parses and Prints the response
          echo "API response saved to a JSON file. Showing all results from the query:"
          jq . application-output.json

    - name: Check FOD API Response
      run: |
          # Check if the status code is 200
          if [[ $Request_Status_Code = 200 ]]; then
            echo "API request was successful."
          else
            echo "Error [HTTP status: $ $Request_Status_Code]"
            exit 1
          fi
